* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background:#94a3b8; 
    --text-color:#d4d4d4;
    --nav-background:#1e1b4b;
    --a--hover:#7c3aed;
    --teste-a: #172554;
    --teste-b:#312e81; 
    
}

body{
    background: var(--nav-background);
    color: var(--a--hover);
    display:flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 30px;

}


nav{
    background: var(--a--hover);
    width: fit-content;
    padding: 35px;
    border-radius: 25px;

}

a{
    text-decoration: none;
    color: var(--nav-background);
    font-weight: 800;
}

a:hover{
    color: var(--main-background);
    transition: transform.3s;   
    transform: scale(5px);
}


ul , li {
    list-style: none;

}
